// Color Variables
$primary: #1682B6;
$success: #16B65C;
$warning: #ECD613;
$danger: #E5501A;
$white: #FFFFFF;
$offwhite: #F7F7F7;
$text-default: #333333;

// Drop Shadow
$drop-shadow : 0px 0px 40px -1px rgba(38, 38, 38, 0.15);
