@import 'variables';

.cek-reservasi {
  margin-top: 50px;
  color: $color-text-default;
  font-weight: 600;

  &__title {
    padding: 0;
    margin: 0;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 18px;
    color: $color-primary;
  }

  &__form__label {
    font-size: 16px;
    line-height: 180%;
  }

  &__form__input-group {
    display: flex;
    margin-bottom: 40px;
  }

  &__bantuan {
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 180%;
    &__link {
      padding: 0;
      margin: 0;
      font-weight: bold;
      text-decoration: none;
      color: $color-primary;
    }
  }
}
